{% if topic_name %}
    <h3>{{topic_name}}</h3>
{% else %}
    <p>No topic specified</p>
{% endif %}

{% if topic %}

    <p> {{ topic.description}}</p>

{% else %}
    <p>No topic specified</p> 
{% endif %}

{% if questions %}
    <ul>
        {% for question in questions %}
            <li>
                <p> {{question.question_text}} </p>
            </li>
        {% endfor %}
    </ul>

{% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    {{ form.as_p}}
    <input type="submit" value="Add question"> 
    
    
</form>
<a href="{% url 'polls:index' %}"> Back to the topic index</a>


    