{% if topic_name %}
    <h3>{{topic_name}}</h3>
{% else %}
    <p>No topic specified</p>
{% endif %}

{% if topic %}

    <p> {{ topic.description}}</p>

{% else %}
    <p>No topic specified</p> 
{% endif %}

{% if questions %}
    <ul>
        {% for question in questions %}
            <li>
                <p> {{question.question_text}} </p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete_question" value="true">
                    <input type="hidden" name="question_id" value="{{question.id}}">
                    <button type="submit" class="btn btn-danger" onclick="return comfirm('Delete: {{question.question_text}}')">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    {{ form.as_p}}
    <input type="submit" value="Add question"> 
    <input type="hidden" name="add" value="true">
    
    
</form>
<a href="{% url 'polls:index' %}"> Back to the topic index</a>


    